@import './vars';

// shadanger styles
input[type=submit],
.btn {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  //min-width: 11rem;
  text-transform: uppercase;
  padding: .3rem 1.25rem;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: all .2s ease-out;
  cursor: pointer;
  height: 2.4rem;
  font-weight: normal;
}

a.btn {
  height: 2.4rem;
  line-height: calc(2.4rem - 8px);

  &:hover {
    text-decoration: none;
  }
}

button.btn-link {
  background-color: transparent;
  border: 0;
  height: auto;
  min-width: unset;

  &:hover {
    box-shadow: none;
  }
}

.btn-outlined {
  background-color:transparent;
  border: 1px solid $accent;

  &:hover {
    color: #fff;
    background-color: $accent;
  }
}

.btn-loader {

  svg {
    animation: loader 1s linear infinite;
  }
}

/*===== SIZES =====*/
.btn {

  &.btn-small {
    height: 2rem;
  }

  &.btn-lg {
    height: 3rem;
    //min-width: 200px;
    max-width: unset;
  }
}

button[type=submit]:hover {
  //background-color: $accent-hover !important;
  //border-color: $accent-hover;

}

input[type=submit]:focus,
input[type=submit]:hover,
input[type=submit]:active {
  //background-color: $accent-hover !important;
  //border-color: $accent-hover;
}

// Disabled shadanger style
.btn.disabled,
.btn-invert.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled] {
  pointer-events: none;
  box-shadow: none;
  cursor: default;
  opacity: .5;
}


// Color Button
.btn-accent,
input[type=submit] {
  color: #fff;
  background-color: $accent;
  border: none;

  &:hover {
    background-color: $accent-hover;
    color: #fff;
  }

  &:active {
    background-color: $accent-hover;
  }
}

.btn-accent2{
  color: #fff;
  background-color: $accent2;
  border: none;

  &:hover {
    background-color: $accent2-hover;
  }

  &:active {
    background-color: $accent2-hover;
  }
}

.btn-white {
  color: $accent;
  background-color: #fff;
  border: 1px solid #fff;

  &:hover {
    background-color: transparent;
    color: #fff;
  }

  &:active {
    background-color: transparent;
    color: #fff;
  }
}

.btn-danger {
  color: #fff;
  background-color: $danger;
  border: none;

  &:hover {
    background-color: darken($danger, 10%);
    color: #fff;
  }

  &:active {
    background-color: darken($danger, 10%);
    color: #fff;
  }
}


.btn {

  &-facebook {
    background-color: #3b5998;
  }

  &-linkedin {
    background-color: #0077b5;
  }

  &-google {
    background-color: #ea4335;
  }
}


.btn-share {
  display: inline-block;
  position: relative;
  font-size: 18px;
  border-radius: $border-radius;
  width: 36px;
  height: 36px;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: all .2s ease-out;
  cursor: pointer;
  color: #fff;
  line-height: 36px;
  margin: 0 5px;

  .react-share__ShareButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 992px) {

  a.btn {
    display: block;
    width: 100%;
  }
}