$title-font: 'Jetbrains Mono', sans-serif;
$font: 'PT Sans', sans-serif;
$default-font: $font;

///Colors
$accent: #36A9E0;
$accent2: #83B3C9;
//$accent: #546587;
$text: #203152;
$accent-hover: darken($accent, 10%);
$accent2-hover: darken($accent2, 10%);

$yellow: #FFC734;
$orange: #FF5E34;
$text: #203152;

$secondary-color: #C57A44;

$bg-dark: #000;

$grey: #7D7D7D;
$grey-bg: #EFF1F4;

$link: $accent;
$link-hover: $accent-hover;

/// OK/NO colors
$red: #D73A49;
$green: #26AF7E;
/// OK/NO colors
$danger: #D73A49;
$warning: orange;
$success: #26AF7E;


//Decoration
$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-lg: 6px;
$border-radius: $border-radius-sm;
$box-shadow-sm: 0 1px 1px 0 rgba(10,22,70,.1), 0 0 1px 0 rgba(10,22,70,.06);
$box-shadow-md: 0 2px 3px 0 rgba(10,22,70,.1), 0 1px 3px 0 rgba(10,22,70,.08);
$box-shadow-lg: 0px 40px 42px rgba(0, 0, 0, 0.12); /// ?

///Typography
$h1-fontsize: 2.2rem;
$h2-fontsize: 1.75rem;
$h3-fontsize: 1.5rem;
$h4-fontsize: 1.25rem;
$h5-fontsize: 1rem;
$h6-fontsize: .8rem;

//Brands Colors
$facebook: #3b5998;
$linkedin: #0077b5;
$google: #ea4335;
$twitter: #1DA1F2;
$vk: #4680C2;
$telegram: #0088cc;

$salary2me: $accent;
$teamconstructor: #33363f;
$teamconstructor-text: #b9b9b0;
$thegreatbase: #f96332;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

// Rewrite values in flexgridcustom.scss

$gutter-width: 30px;

$sm-max: 540px;
$md-max: 720px;
$lg-max: 980px;
$xl-max: 1290px;

$xs-breakpoint: 0;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1360px;
