@import '../../../../assets/scss/vars';

.select {
  //height: 100%;
  width: 100%;
  margin-right: 1rem;
  padding: 5px;
  font-size: 1rem;
  color: $text;
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
  box-shadow: 0 1px 3px #EFF1F4;
  border-radius: 3px;
}