@import '../../../../../assets/scss/vars';

.btn {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 20px;

  &:hover {
    background: rgba($grey, .3);
  }

  &:active {
    border-radius: 20px;
  }
}

.icon {
  width: 16px;
  height: 16px;
  display: block;
  fill: rgba(55, 53, 47, 0.3);
  flex-shrink: 0;
  backface-visibility: hidden;
}