.border {
  border: 1px solid;
  border-radius: 5px;
  padding: 2rem;

  &:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }
}


@media (max-width: 768px) {
  .border {
    padding: 1rem;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}