@import '../../../assets/scss/_vars.scss';

.wrapper {
  width: 20rem;
  margin: 0 auto 5rem;
}

.desc {
  margin-bottom: 1rem;
}

.agreement {
  width: 28rem;

  i {
    text-decoration: underline;
    cursor: pointer;
    font-style: normal;

    &:hover {
      color: $orange
    }
  }
}

.wrapper {

  button {
    width: 100%;
  }
}

button.forgot {
  padding: 0;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $orange;
  }
}


.tabs {
  display: flex;
  margin-bottom: 2rem;

  button {
    background-color: #fff;
    border: 1px solid #fff;
    width: 8rem;
    height: 2.5rem;
    opacity: .5;

    &:hover {
      background-color: rgba($accent, .2);
      cursor: pointer;
    }

    &.active {
      background-color: $accent;
      color: #fff;
      opacity: 1;

      &:hover {
        background-color: darken($accent, 10);
        cursor: pointer;
      }
    }
  }
}

@media(max-width: 992px) {

  .wrapper {
    width: 100%;
    margin: 0 auto 2rem;
  }

  .agreement {
    width: 100%;
  }
}