.wrapper {
  position: absolute;
  //overflow: visible;
  min-height: 1.25rem;
  min-width: 100px;
  margin: 0;
  color: currentColor;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 20;
  animation: popover .2s ease-in-out;
}

@keyframes popover {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}