$xy-border: (
        Top: t,
        Bottom: b,
        Left: l,
        Right: r
);

.wrap {

  $triangle: .3rem;
  $background-color: rgba(51,51,51,.9);

  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;

  &::after {
    background-color: $background-color;
    border-radius: $triangle;
    color: #fff;
    content: attr(data-tooltip);
    font-size: .8rem;
    font-weight: normal;
    line-height: 1.15rem;
    opacity: 0;
    padding: .5rem;
    position: absolute;
    text-align: center;
    text-transform: none;
    transition: opacity .2s;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
  }

  @each $direction, $d in $xy-border {
    &.tooltip#{$direction} {
      // arrows
      &::before {
        border-style: solid;
        border-width: $triangle;
        content: "";
        opacity: 0;
        position: absolute;
        transition: opacity .2s;
        visibility: hidden;
        @if $direction == Top {
          border-color: $background-color transparent transparent transparent;
          top: 0;
          left: 50%;
          margin-left: -$triangle;
        } @else
        if $direction == Bottom {
          border-color: transparent transparent $background-color transparent;
          bottom: 0;
          left: 50%;
          margin-left: -$triangle;
        } @else
        if $direction == Left {
          border-color: transparent transparent transparent $background-color;
          top: $triangle;
          right: calc(110% - #{$triangle});
          margin-top: -$triangle;
        } @else
        if $direction == Right {
          border-color: transparent $background-color transparent transparent;
          top: 50%;
          top: $triangle;
          left: calc(110% - #{$triangle});
          margin-top: -$triangle;
        }
      }

      &::after {
        @if $direction == Top {
          bottom: 100%;
          left: 50%;
          transform: translate(-50%);
        } @else
        if $direction == Bottom {
          top: 100%;
          left: 50%;
          transform: translate(-50%);
        } @else
        if $direction == Left {
          top: -$triangle;
          right: calc(110% + #{$triangle});
        } @else
        if $direction == Right {
          top: -$triangle;
          left: calc(110% + #{$triangle});
        }
      }
    }
  }

  &.Mobile {
    @media (max-width: 767px) {
      &::before {
        display: none;
      }

      &:after {
        font-size: 1rem;
        max-width: 20rem;
        position: fixed;
        bottom: auto; top: 50%;
        left: 50%;
        text-align: left;
        transform: translate(-50%);
        white-space: normal;
      }
    }
  }

  &:hover::after,
  &[class*=tooltip]:hover::before {
    visibility: visible;
    opacity: 1;
  }
}


//.tip {
//  position: relative;
//  //border-bottom: 1px solid currentColor;
//  cursor: help;
//  width: 100%;
//  display: inline-block;
//
//  &:before,
//  &:after {
//    visibility: hidden;
//    opacity: 0;
//    pointer-events: none;
//  }
//
//  &:before {
//    content: attr(data-tooltip);
//    position: absolute;
//    top: -35px;
//    left: 50%;
//    margin-bottom: 5px;
//    margin-left: -90px;
//    padding: 7px 6px;
//    width: 180px;
//    display: block;
//    height: auto;
//    background-color: rgba(#333, 1);
//    color: #fff;
//    font-size: 13px;
//    border-radius: 3px;
//    text-align: center;
//    transition: opacity .2s ease-in-out;
//  }
//
//  &:after {
//    position: absolute;
//    top: -5%;
//    left: 50%;
//    margin-left: -5px;
//    width: 0;
//    border-top: 5px solid #000;
//    border-top: 5px solid rgba(#333, .9);
//    border-right: 5px solid transparent;
//    border-left: 5px solid transparent;
//    content: " ";
//    font-size: 0;
//    line-height: 0;
//    transition: opacity .2s ease-in-out;
//  }
//
//  &:hover:before,
//  &:hover:after {
//    opacity: 1;
//    visibility: visible;
//  }
//}
//
//@media(max-width: 600px) {
//  .tip {
//    position: static;
//
//    &:before {
//      position: absolute;
//      bottom: 150%;
//      left: 50%;
//      margin-bottom: 5px;
//      margin-left: -90px;
//    }
//
//    &:after {
//      position: absolute;
//      bottom: 150%;
//      left: 50%;
//      margin-left: -5px;
//      width: 0;
//    }
//  }
//}